/* Common styles */
body {
  font-family: 'Roboto', sans-serif;
}
/* Rejects */
a {
  text-decoration: none;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.dark-title {
  color: #2e2f42;
}
.header-nav {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-address {
}
.header-address-item {
}
.header-address-link {
}
/**
  |============================
  | Main styles webstudio page
  |============================
*/
.main {
}
.section {
}
.hero {
}
.hero-title {
}
.about-us {
}
.about-us-title {
}
.about-us-list {
}
.about-us-item {
}
.about-us-subtitle {
}
.about-us-text {
}
.projects {
}
.projects-title {
}
.projects-list {
}
.our-team {
}
.our-team-title {
}
.our-team-list {
}
.our-team-item {
}
.our-team-subtitle {
}
.our-team-text {
}
/**
   |============================
   | Main styles portfolio page
   |============================
 */
.portfolio {
}
.portfolio-nav {
}
.portfolio-nav-item {
}
.portfolio-nav-button {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-sbtitles {
}
.portfolio-text {
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.ligth-title {
  color: #f4f4fd;
}
.footer-text {
}
